<pre>
    {{ dump(category) }}
</pre>

{{category.icon}}

<p>Veuillez saisir le type de produit dans la barre de recherche</p>

{% for product in products %}

    {% if product.name == "Perceuse" %}
        <p>Veillez selectionnez la caracteristique</p>
        <button><a href="">Fillaire</a></button>
        <button><a href="">Sans-fil</a></button>
    {% endif %}


{% endfor %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

