{% extends 'base.html.twig' %}

{% block title %}Hello ReturnCommandController!{% endblock %}

{% block body %}
<p>Bonjour je suis Bot, comment puis je vous aider? votre question concerne peut-être une demande ci dessous?</p>
<p>Retourner un produit</p>

<p>Veuillez taper la réf. de votre commande dans la barre de recherche.</p>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}


{% for command in commands %}
    <p>Veuillez selectionner l’article à retourner</p>
    <button><a href="/return/command/1">REF: {{command.product.reference}} - {{command.product.marque}} {{command.product.name}}</a> </button>
{% endfor %}
{% endblock %}
