{% extends 'base.html.twig' %}

{% block title %}JE SAISI UN PRODUIT{% endblock %}

{% block body %}


<main class="mh-100 mw-100">

    <section class="chatbot open col-3 mh-100 shadow position-fixed bottom-0 end-0 m-2 mb-2" style="border-radius: 0.5rem;"
        id="chat">
        <div class="card">
            <div class="bg-primary p-3 hover-overlay ripple shadow-2-strong p-3 rounded-top" data-mdb-ripple-color="light">
              <a class="d-flex " href="/">
                  <img class="w-25" src="https://i.ibb.co/TwcK46V/Mano-Manoicon.png" alt="ManoBot">
                  <h1 class="text-light h3 text-center d-flex align-items-center pl-2" style="padding-left:20px;">Bienvenue sur ManoBot</h1>
              </a>
            </div>
            <div class="scroll-container" id="scroll">
                <div class="card-body p-5">
                    <div class="position-relative">
                        <img src="https://i.ibb.co/9vhGnVD/chaboticon.png" alt="" class="position-absolute top-0 start-0 translate-middle p-1" style="max-width:6vh;">
                        <a href="/" class="btn btn-outline-primary" style="border-radius: 0.5rem;">Bonjour je suis ManoBot, </br> Votre question concerne peut-être une demande ci-dessous?</a>
                    </div>
                    <div class="position-relative my-4">
                        <a class="btn btn-primary my-1 position-absolute end-0" style="border-radius: 0.5rem;">Je cherche un produit</a>
                        <img src="https://i.ibb.co/4ZZwtT1/avatr-chatbot.png" alt="" class="p-1 position-absolute top-0 start-100 translate-middle p-1" style="max-width:5vh;">
                    </div>
                    <div class="position-relative" style="margin-top: 10vh;">
                        <img src="https://i.ibb.co/9vhGnVD/chaboticon.png" alt="" class="position-absolute top-0 start-0 translate-middle p-1" style="max-width:6vh;">
                        <a href="/category" class="btn btn-outline-primary" style="border-radius: 0.5rem;">Veuillez selectionner la categorie de votre produit</a>
                    </div>
                    <div class="position-relative my-4">
                        <a href="#" class="btn btn-primary my-1 position-absolute end-0" style="border-radius: 0.5rem; width:15vh; height:15vh;">
                            <i class="fas fas-8x"><img src={{ category.icon }} alt={{ category.alt }}> </i>
                            <p class="d-flex justify-content-center">{{category.alt}}</p>
                        </a>
                        <img src="https://i.ibb.co/4ZZwtT1/avatr-chatbot.png" alt="" class="p-1 position-absolute top-0 start-100 translate-middle p-1" style="max-width:5vh;">
                    </div>
                    <div class="position-relative" style="margin-top: 21vh;">
                        <img src="https://i.ibb.co/9vhGnVD/chaboticon.png" alt="" class="position-absolute top-0 start-0 translate-middle p-1" style="max-width:6vh;">
                        <a class="btn btn-outline-primary" style="border-radius: 0.5rem;">Veuillez saisir le type de produit dans la barre de recherche</a>
                    </div>
                    {% for product in products %}
                    <div class="position-relative my-4">
                        <a href="#" class="btn btn-primary my-1 position-absolute end-0" style="border-radius: 0.5rem;">Perceuse</a>
                        <img src="https://i.ibb.co/4ZZwtT1/avatr-chatbot.png" alt="" class="p-1 position-absolute top-0 start-100 translate-middle p-1" style="max-width:5vh;">
                    </div>
                    {% if product.name == "Perceuse" %}
                    <div class="position-relative" style="margin-top: 5.5rem;">
                        <img src="https://i.ibb.co/9vhGnVD/chaboticon.png" alt="" class="position-absolute top-0 start-0 translate-middle p-1" style="max-width:6vh;">
                        <a class="btn btn-outline-primary" style="border-radius: 0.5rem;">Veuillez selectionner l'alimentation'</a>
                        <a href="#" class="black" style="border-radius: 0.5rem;"><button class="btn my-2 black">Filaire</button></a>
                        <a href="/caracteristique/1" class="black" style="border-radius: 0.5rem;"><button class="btn my-2 black">Batterie</button></a>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
            {{ form_start(form) }}
            <div class="form-outline m-1">
                {{ form_widget(form.search, {'attr': {'class': 'form-control'}}) }}
                <label class="form-label" for="typeText">Saisissez votre produit</label>
            </div>
            {{ form_end(form) }}
        </div>
    </section>

</main>
<script>
    element = document.getElementById('scroll');
    element.scrollTop = element.scrollHeight;
</script>

{% endblock %}
