{% extends 'base.html.twig' %}

{% block title %}Hello FactureController!{% endblock %}

{% block body %}

<main class="mh-100 mw-100">
    <section class="chatbot col-3 mh-100 shadow position-fixed bottom-0 end-0 m-2 mb-5" style="border-radius: 0.5rem;">
        <div class="card">
            <div class="bg-primary p-3 hover-overlay ripple shadow-2-strong p-3 rounded-top"
                data-mdb-ripple-color="light">
                <a class="d-flex " href="#">
                    <img class="w-25" src="https://i.ibb.co/TwcK46V/Mano-Manoicon.png" alt="ManoBot">
                    <h1 class="text-light h3 text-center d-flex align-items-center pl-2" style="padding-left:20px;">
                        Bienvenue sur ManoBot</h1>
                </a>
            </div>
            <div class="card-body p-5">
                <div class="position-relative">
                    <img src="https://i.ibb.co/9vhGnVD/chaboticon.png" alt=""
                        class="position-absolute top-0 start-0 translate-middle p-1" style="max-width:6vh;">
                    <a href="/" class="btn btn-outline-primary" style="border-radius: 0.5rem;">
                        Bonjour je suis ManoBot, </br>
                        Votre question concerne peut-être une demande ci-dessous?</a>
                </div>
                <div class="position-relative my-4">
                    <a href="#" class="btn btn-primary my-1 position-absolute end-0"
                        style="border-radius: 0.5rem;">Editer ma facture</a>
                    <img src="https://i.ibb.co/4ZZwtT1/avatr-chatbot.png" alt=""
                        class="p-1 position-absolute top-0 start-100 translate-middle p-1" style="max-width:5vh;">
                </div>

                <div class="position-relative" style="margin-top: 10vh;">
                    <img src="https://i.ibb.co/9vhGnVD/chaboticon.png" alt=""
                        class="position-absolute top-0 start-0 translate-middle p-1" style="max-width:6vh;">
                    <a href="/facture" class="btn btn-outline-primary" style="border-radius: 0.5rem;">
                        Veuillez taper la réf. de votre commande dans la barre de recherche.</a>
                </div>
                {% for command in commands %}
                <div class="position-relative my-4">
                    <a href="#" class="btn btn-primary my-1 position-absolute end-0"
                        style="border-radius: 0.5rem;">{{command.reference}}</a>

                    <img src="https://i.ibb.co/4ZZwtT1/avatr-chatbot.png" alt=""
                        class="p-1 position-absolute top-0 start-100 translate-middle p-1" style="max-width:5vh;">
                </div>
                {% endfor %}
                {% for command in commands %}
                <div class="position-relative" style="margin-top: 10vh;">
                    <img src="https://i.ibb.co/9vhGnVD/chaboticon.png" alt=""
                        class="position-absolute top-0 start-0 translate-middle p-1" style="max-width:6vh;">
                    <a class="btn btn-outline-primary" style="border-radius: 0.5rem;">Veuillez cliquer sur ce lien afin
                        de télécharger votre facture. <br><br> <button
                            class="btn btn-secondary">{{command.reference}}.pdf</button></a>

                </div>
                {% endfor %}
            </div>

            {{ form_start(form) }}
            <div class="form-outline m-3">
                {{ form_widget(form.search, {'attr': {'class': 'form-control'}}) }}
                <label class="form-label" for="typeText">Tapez ici votre référence</label>
            </div>
            {{ form_end(form) }}
    </section>
</main>
{% endblock %}